@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

.banner {
  width: 337px;

  & > svg > line {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: animate 2s ease forwards;
    animation-delay: 400ms;
  }
}