.fb-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb-row {
  display: flex;
  flex-flow: row;
}

.fb-column {
  display: flex;
  flex-flow: column;
}

.fb-ccolumn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.fb-crow {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}