$border-color: #DFC17A;

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animateLabels {
  to {
    margin-left: 40px;
    opacity: 1;
  }
}

@keyframes animateContainer {
  to {
    transform: none;
  }
}

.container {
  position: relative;
  width: 350px;
  height: 250px;

  .imgContainer {
    position: absolute;
    left: 0;

    transform: scale(0) rotate(-90deg);
    animation: animateContainer 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    .img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid $border-color;
    }

    .imgBanner {
      position: absolute;
      transform: translate(-34px, -32px);
    }
  }

  .labels {
    position: absolute;
    left: 104px;

    font-family: Montserrat, sans-serif;

    opacity: 0;

    animation: animateLabels 0.8s ease forwards;
    animation-delay: 500ms;

    & > * {
      margin: 0;
    }

    h3 {
      margin-bottom: 4px;

      color: white;

      font-size: 28px;
      font-weight: 600;
    }

    p {
      color: rgba(255, 255, 255, 0.75);

      font-size: 14px;
      font-weight: 200;
    }
  }
}