$border-color: #DFC17A;
$border-inactive-color: #373d41;

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

.container {
  position: relative;
  width: 200px;
  height: 250px;

  .imgContainer {
    position: absolute;
    left: 0;

    .img {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      border: 2px solid $border-inactive-color;

      &--active {
        border: 2px solid $border-color;
      }
    }

    .imgBanner {
      position: absolute;
      transform: translate(-34px, -32px);
    }
  }

  .labels {
    position: absolute;
    left: 114px;

    font-family: Montserrat, sans-serif;

    & > * {
      margin: 0;
    }

    h3 {
      margin-bottom: 4px;

      color: white;

      font-size: 28px;
      font-weight: 600;
    }

    p {
      color: rgba(255, 255, 255, 0.75);

      font-size: 14px;
      font-weight: 200;
    }

    &--active {
      margin-left: 60px;
      text-align: center;
    }
  }
}